@import "src/scss/settings/colors";

.navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars--icon {
  font-size: 2em;
  padding: 20px;
  color: $darkGrey;
}
.menu-close--icon {
  font-size: 2em;
  color: $darkGrey;
}
.nav-menu {
  background-color: #FFFFFF;
  width: 100vw;
  height: auto;
  padding:  0 0 20px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -450px;
  transition: 850ms;
}
.nav-menu.active {
  top: 0;
  transition: 350ms;
}
.nav-text {
  padding: 5px;
}
.nav-text a {
  text-decoration: none;
  color: $darkGrey;

  &:hover {
    color: $yellow;
  }
}
.nav-menu-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline-start: 0;
  width: 100%;
  padding:  0 0 20px 20px;
  border-bottom: 1px solid $lightGrey;
}
.nav-user {
  margin: 1rem 0;
  list-style: none;
  padding-inline-start: 5px;
  padding-top: 2rem;
  border-top: 1px solid $lightGrey;
}
.nav-user--item {
  margin: 2rem 0;
}
.nav-user--elem {
  text-transform: none;
  text-decoration: none;
  color: $darkGrey;
  margin-right: 2rem;
}