@import "/src/scss/settings/colors";

.who-we-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-we-help-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-who-we-help-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.who-we-help-choose--item {
  padding: 20px;
  margin: 0 30px;
  cursor: pointer;
}

.active {
  border: 1px solid $darkGrey;
}

.mobile-who-we-help-descr {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.who-we-help-tContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.who-we-have-table {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  border-bottom: 1px solid $mediumGrey;
}

.who-we-help-name {
  font-size: 1.625em;
}

.who-we-help-details,
.who-we-help-needs {
  font-size: 1.125em;
}

.who-we-help-needs--wrap {
  align-self: center;
}

.who-we-help-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.who-we-help-pagination--page {
  padding: 20px 25px;
  margin: 0 10px;
  cursor: pointer;
}

.current-page {
  border: 1px solid $mediumGrey;
}
