@import "../../../scss/settings/_fonts.scss";
@import "../../../scss/settings/colors";

.mobile-home-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.mobile-home-welcome-header {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 2rem;
}
.mobile-home-welcome-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto;
}
.mobile-home-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-base;
  color: $darkGrey;
  padding: 1.2rem;
  border: 1px solid $darkGrey;
  margin: 1rem auto;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
  }
}
.mobile-home-heroImg {
  width: 100%;
}